<h1>Уважаемый(-ая) {{ user_fio }},</h1>
<p>Мы рады сообщить, что Ваша запись на прием в нашей клинике успешно
  подтверждена!</p>

<li>Место: {{ org_address }}</li>
<li>Дата и время приема: {{ appoint_date_time }}</li>
<li>Специалист: {{ appoint_skill }}</li>

<p>Если у Вас возникнут вопросы по поводу записи или ее отмены,
  обратитесь по номеру телефона {{ org_phone }}.</p>

<p>Просим приехать на прием заранее за 10-15 минут с документом,
  удостоверяющим личность.</p>

<h2>С уважением,</h2>
<p>{{ org_name }}</p>
