<h1>Уважаемый(-ая) {{ user_fio }},</h1>
<p>Мы рады сообщить Вам, что ваша запись на прием в нашей клинике успешно
  подтверждена!</p>

<li>Дата и время приема: {{ appoint_date_time }}</li>
<li>Место: {{ org_address }}</li>


<p>Если у Вас возникнут какие-либо вопросы или Вам понадобится изменить
  или отменить запись, не стесняйтесь связаться с нашим отделом по записи
  пациентов.</p>

<p>Мы очень рады, что Вы выбрали нашу клинику, и надеемся на успешное и
  эффективное лечение.</p>

<h2>С уважением,</h2>
<p>{{ org_name }}</p>
<p>{{ org_phone }}</p>
